<h1>Contact Us</h1>
<form novalidate>
	<div class="form-group">
		<label for="txtName">Name</label>
		<input class="form-control" id="txtName" ng-model="contact.name" />
	</div>
	<div class="form-group">
		<label for="txtName">Email Address</label>
		<input type="email" class="form-control" id="txtEmail" ng-model="contact.email" />
	</div>
	<div class="form-group">
		<label for="txtName">Message</label>
		<textarea class="form-control" id="txtMessage" ng-model="contact.message"></textarea>
	</div>
	<div class="form-group">
		<label>
			<input type="checkbox" ng-model="contact.allowContact" /> Allow us to contact you regarding your feedback?
		</label>
	</div>

	<button type="submit" class="btn btn-primary" ng-click="save()">Send</button>
</form>

<div class="data">
	<h3>Contacts</h3>
	<pre class="code">{{data | json}}</pre>
</div>
