<md-content class='ns-login' layout="column" layout-fill layout-align="start center">
	<form class="md-whiteframe-z1 login-box">

		<md-content layout="row">
			<md-input-container flex>
				<md-select placeholder="Please select a user" ng-model="user" ng-disabled="createNewUser">
					<md-option ng-repeat="user in usersApi.items" value="{{user.$key}}">{{user.name}}</md-option>
				</md-select>
			</md-input-container>
			<md-button class="md-icon-button md-warn" aria-label="Remove" ng-click="remove()">
				<md-icon md-font-icon="icon-cross"></md-icon>
			</md-button>
			<md-button class="md-icon-button green" aria-label="Add" ng-click="add()">
				<md-icon md-font-icon="icon-plus"></md-icon>
			</md-button>
		</md-content>

		<md-button class="btn-login" ng-click="login()">Login</md-button>

	</form>
</md-content>
