<div layout="column" tall>
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools">
			<md-button ng-click="openNav()" hide-gt-md>Nav</md-button>
			<h2><span>App!</span></h2>
			<span flex></span>
			<span hide show-gt-md>Hello, {{user.name}}!</span>
			<md-button class="md-primary" ng-click="logout()">Logout</md-button>
		</div>
	</md-toolbar>
	<md-content layout="row" flex>
		<md-sidenav md-component-id="left-spacer" md-is-locked-open="$mdMedia('gt-md')"></md-sidenav>
		<md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left md-whiteframe-z1" fixed-left-nav>
			<md-list>
				<div ng-repeat="section in navigation | orderBy: 'sort'">
					<md-divider ng-if="section.heading"></md-divider>
					<md-subheader class="md-no-sticky" ng-if="section.heading">{{section.heading}}</md-subheader>
					<md-list-item ng-repeat="item in section.items | orderBy: 'sort'" ng-click="go(item.state)">
						<p>{{item.label}}</p>
					</md-list-item>
				</div>
			</md-list>
		</md-sidenav>
		<main ui-view flex layout-padding layout-margin></main>
	</md-content>
</div>
